<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 	<h1>Team Name: <%= @array["name"] %> </h1>
 	<h2> Coach: <%= @array["coach"] %></h2>
 	<h2> Point Guard: <%= @array["pg"] %></h2>
 	<h2> Shooting Guard: <%= @array["sg"] %></h2>
 	<h2> Power Forward: <%= @array["pf"] %></h2>
 	<h2> Small Forward: <%= @array["sf"] %></h2>
 	<h2> Center: <%= @array["c"] %></h2>
 </body>
</html>


